/* common shared styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 15px 30px;
}

/* nav related styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

li>a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

span {
    color: #FD6E0A;
}
/* header related styles */
header {
    background: #FFF8F3;
}
/* banner related styles */
.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
}
.banner-content{
    
}
.banner-title {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}
.banner-greeting {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}
.banner-info {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}
.back-img {
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
}